

.grid-container{
	width: 80%;
	height: 600px;
	margin: 0 auto;
	margin-top:2%;
}

.first-grid{
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
	cursor: pointer;
	background-color: #fff;
	/** background-image: url('images/me2.jpg') **/
}

.first-grid:hover{
	opacity: .5;
	transform: scale(1.02);
}

.second-grid{
	width: 60%;
	height: 100%;
	float: left;
}

.first-sub-grid{
	width: 50%;
	height: 50%;
	float: left;
	cursor: pointer;
	position: relative;
	background-image: url('images/logo/skills.png');
	background-size: 80%;
    background-position: center; 
    background-repeat: no-repeat;
	background-color: #15c5df;
}

.first-sub-grid:hover{
	z-index: 50;
	transform: scale(1.02);
	/*transform: rotateZ(-10deg);*/
}

.second-sub-grid{
	width: 50%;
	height: 50%;
	float: left;
	cursor: pointer;
	position: relative;
	background-image: url('images/logo/portfolio.png');
	background-size: 70%;
	background-position: center; 
	background-repeat: no-repeat;
	background-color: #ff8c00;
}

.second-sub-grid:hover{
	z-index: 50;
	transform: scale(1.02);	
}

.third-sub-grid{
	width: 50%;
	height: 50%;
	float: left;
	cursor: pointer;
	position: relative;
	background-image: url('images/logo/contact-me.png');
	background-size: 80%;
	background-position: center; 
	background-repeat: no-repeat;
	background-color: #ffa07a;
}

.third-sub-grid:hover{
	z-index: 50;
	transform: scale(1.02);		
	/*box-shadow: inset 0 0 0 10px #ff8c00;*/
}

.fourth-sub-grid{
	width: 50%;
	height: 50%;
	float: left;
	cursor: pointer;
	position: relative;
	background-image: url('images/logo/me.png');
	background-size: 80%;
	background-position: center; 
	background-repeat: no-repeat;
	background-color: #0ce75e;
}

.fourth-sub-grid:hover{
	z-index: 50;
	transform: scale(1.02);		
	/*box-shadow:
		        1px 1px #53a7ea,
		        2px 2px #53a7ea,
		        3px 3px #53a7ea,
	            4px 4px #53a7ea,
	            5px 5px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);*/
}

.grid-notes{
	padding: 30%;
	font-family: Courier New;
}

.main-grid-notes-container{
	bottom: 0;
	height:auto;
	width: 100% !important;
	position: absolute;
	background-color: #43f505;
}
.main-grid-notes{
	padding-left: 5px;
	font-size: 40px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
.profession{
	padding-left: 5px;
	margin-top: -10px;
	font-size: 20px;
	font-family: Courier New;
	text-decoration: underline;
}

/********************************************************************************
*																				*
*					          mobile devices									*
*																				*
*********************************************************************************/

@media screen and (max-width: 700px){
	.first-grid{
		width: 100%;
		height: 400px;
		background-color: #fff;
		background-position:top left;
		background-size:auto auto;
	}

	.second-grid{
		width: 100%;
		height: 400px;
	}

}


@media screen and (max-width: 480px){
	.grid-container{
		width:100%;
	}
	
	.first-sub-grid{
		width: 100%;
		height: 400px;
	}

	.second-sub-grid{
		width: 100%;
		height: 400px;
	}

	.third-sub-grid{
		width: 100%;
		height: 400px;
	}

	.fourth-sub-grid{
		width: 100%;
		height: 400px;
	}
	
}

